# Variables d'environnement - NE JAMAIS COMMITER
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnement virtuel
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
